<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Reviews</title>
</head>
<body>
    <form action="/submitreview" method="post">
        <label for="gameName">Game Name</label>
        <input type="text" name="gameName" id="gameName">
        <br>
        <label for="score">Score</label>
        <input type="text" name="score" id="score">
        <br>
        <label for="reviewText">Review Text</label>
        <input type="text" name="reviewText" id="reviewText">
        <input type="submit" value="submit">
    </form>
</body>
</html>

